<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parcial2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UsuarioActualizado"></activity>
        <activity android:name=".ActualizarUsuario" />
        <activity android:name=".EliminarUsuario" />
        <activity android:name=".MostrarUsuarioEncontrado" />
        <activity android:name=".BuscarUsuario" />
        <activity android:name=".MostrarUsuario" />
        <activity android:name=".GuardarUsuario" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>